In [ ]:
import pandas as pd

In [ ]:
panel=pd.read_csv('https://github.com/ArtKTP/Siametrics-Pre-interview-Assignment/raw/master/result/panel.csv')
panel.head(100)

In [3]:
panel.describe()

,person_id,year,id_s_fr,age,female,perf_a,perf_b,perf_c,avg_absences
count,29594.000000,29594.000000,1.285900e+04,14556.000000,14556.000000,13077.000000,3153.000000,13376.000000,19966.000000
mean,79066.673143,2352.273637,3.039191e+09,43.597497,0.747835,0.004199,-0.000463,-0.014168,5.703033
std,36609.865871,1607.200362,1.489746e+09,12.311148,0.434121,0.999235,1.003033,0.868966,3.602196
min,2.000000,2012.000000,1.000110e+09,0.000000,0.000000,-6.539238,-3.747929,-4.560566,-1.200000
25%,48098.000000,2013.000000,3.000010e+09,33.000000,0.000000,-0.563339,-0.624347,-0.519894,1.455243
50%,79425.000000,2015.000000,3.000010e+09,44.000000,1.000000,0.045826,-0.025871,0.038936,8.160317
75%,113976.000000,2016.000000,3.000010e+09,53.000000,1.000000,0.612253,0.595543,0.552548,8.551552
max,134862.000000,9999.000000,6.206069e+10,86.000000,1.000000,5.724109,4.012819,5.724108,9.034616

In [4]:
panel.describe(include='all')

,person_id,year,id_s_fr,age,female,perf_a,perf_b,perf_c,status,avg_absences
count,29594.000000,29594.000000,1.285900e+04,14556.000000,14556.000000,13077.000000,3153.000000,13376.000000,17515,19966.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Active,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17095,NaN
mean,79066.673143,2352.273637,3.039191e+09,43.597497,0.747835,0.004199,-0.000463,-0.014168,NaN,5.703033
std,36609.865871,1607.200362,1.489746e+09,12.311148,0.434121,0.999235,1.003033,0.868966,NaN,3.602196
min,2.000000,2012.000000,1.000110e+09,0.000000,0.000000,-6.539238,-3.747929,-4.560566,NaN,-1.200000
25%,48098.000000,2013.000000,3.000010e+09,33.000000,0.000000,-0.563339,-0.624347,-0.519894,NaN,1.455243
50%,79425.000000,2015.000000,3.000010e+09,44.000000,1.000000,0.045826,-0.025871,0.038936,NaN,8.160317
75%,113976.000000,2016.000000,3.000010e+09,53.000000,1.000000,0.612253,0.595543,0.552548,NaN,8.551552
max,134862.000000,9999.000000,6.206069e+10,86.000000,1.000000,5.724109,4.012819,5.724108,NaN,9.034616

In [ ]:
#Top three issues with the data
1. Discontinued follow-up eg. person_id = 2  that have id_s_fr = 3000010175 in 2012 But not have id_s_fr in 2013 
2. Values outside of domain range eg. the data being collected really is in the range 2012-2017 but a year have 9999 in max value.
3. Unavailable values during data entry(dummy values or null) eg. perf_a  = Null, perf_b = Null, perf_c = Null, avg_absences = Null